*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.toolbox-cont{
    height : 5rem;
    background-color: black;
    display: flex;
    align-items: center;

}

.toolbox-priority-cont{
    height: 3rem;
    background-color: rgb(252, 252, 252);
    width: 18rem;
    margin-left: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.color{
    height: 1.5rem;
    width: 3rem;
}

.red{
    background-color: red;

}

.blue{
    background-color: blue;

}

.green{
background-color: green;
}

.black{
    background-color: black;
}

.action-btn-cont{
    height: 3rem;
    background-color: rgb(255, 255, 255);
    width: 10rem;
    margin-left: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
   

}

.add-btn{
    font-size: 2rems;    

}

.remove-btn{
    font-size: 2rems;

}